<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Translator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Translator.My.MySettings>
            <setting name="BDOCR_API_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="BDOCR_SECRET_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="YDTSL_API_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="YDTSL_SECRET_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="FontCOLOR" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontSTYLE" serializeAs="String">
                <value>Microsoft JhengHei UI, 20.25pt</value>
            </setting>
            <setting name="BackCOLOR" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="BackOpacity" serializeAs="String">
                <value>0.61</value>
            </setting>
            <setting name="BDTSL_API_ID" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="BDTSL_API_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="TSL_API_Choice" serializeAs="String">
                <value>Baidu</value>
            </setting>
            <setting name="TCTSL_API_ID" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="TCTSL_API_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="OCR_Detect_Left" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OCR_Detect_Down" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OCR_Scan_Mode" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="OCR_API_Choice" serializeAs="String">
                <value>Baidu</value>
            </setting>
            <setting name="AUTO_STOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TesseractOCR_ThresholdNumberSet" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="TCOCR_API_ID" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="TCOCR_API_KEY" serializeAs="String">
                <value>233333333333333</value>
            </setting>
            <setting name="LOG_Switch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSL_Switch_BD_API" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSL_Switch_BD_WEB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSL_Switch_YD_API" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSL_Switch_YD_WEB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TSL_Switch_TC_API" serializeAs="String">
                <value>False</value>
            </setting>
        </Translator.My.MySettings>
    </userSettings>
</configuration>